*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #010409;
}

div.header {
    width: 100%;
    height: 75px;
    margin: 0px;
}
ul {
    display: inline-block;
}
.list-container ul a {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
}

.reg {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 10px 60px 0px 0px;
}
.list-container {
    position: absolute;
    top: 18px;
    right: 10px;
}

ul a li {
    padding: 10px 60px 0px 0px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a > p {
    position: relative;
    left: 30px;
    bottom: 4px;
}

div.link-hover{
    visibility: visible;
    height: 400px;;
    width: 300px;
    background-color: lawngreen;
    position: absolute;
    right: 130px;
    top: 100px;
    border-radius: 5px;
}